.customListboxItem {
  padding-left: 8px;
  padding-right: 8px;
  height: 36px;
  transition: background-color 0.3s ease;
}

.customListboxItem.customListboxItem:hover,
.customListboxItem.customListboxItem[data-selected="true"],
.customListboxItem.customListboxItem[data-focus="true"],
.customListboxItem.customListboxItem:focus {
  background-color: #f0f0f0;
  color: #0070f3;
}

.accordion {
  margin-top: 6px;
}

.favoriteRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
