.scrollbar-custom::-webkit-scrollbar {
  width:        12px; /* Width of the scrollbar */
  padding-left: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background:   var(--scroll-bar-background-track); /* Background of the scrollbar track */
  padding-left: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-background-thumb); /* Color of the scrollbar thumb */
  border-radius:    10px; /* Roundness of the scrollbar thumb */
  border:           3px solid var(--scroll-bar-background-track); /* Space around the thumb */
  padding-left:     4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background:   var(--scroll-bar-background-thumb-hover); /* Color of the scrollbar thumb on hover */
  padding-left: 4px;
}
