.table {
  width: 100%;
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12px;
}
.bottom {
  display: flex;
  justify-content: space-between;
}
.paginationControl {
  
}